<!-- nav.component.html -->
<app-nav></app-nav>
<!--/ nav.component.html -->

<!-- banner-one.component.html -->
<app-banner1></app-banner1>
<!--/ banner-one.component.html -->

<!-- products.component.html -->
<app-products></app-products>
<!--/ products.component.html -->

<!-- banner-two.component.html -->
<app-banner2></app-banner2>
<!--/ banner-two.component.html -->

<!-- contact-us.component.html -->
<app-contactus></app-contactus>
<!--/ contact-us.component.html -->

<!-- banner-three.component.html -->
<app-banner3></app-banner3>
<!--/ banner-three.component.html -->

<!-- footer.component.html -->
<app-footer></app-footer>
<!-- footer.component.html -->
